* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
}
.a {
  width: 100%;
  background-image: url("/icons/bg-hero-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(193, 100%, 96%);
  padding: 20px 50px;
  margin-bottom: 50px;
  font-family: "Poppins";
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.a1 {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a1 button {
  background-color: white;
  padding: 1em 3em;
  color: hsl(192, 100%, 9%);
  font-weight: bold;
  border-radius: 25px;
  border: none;
  box-shadow: 1px 1px 3px rgb(196, 193, 193);
  cursor: pointer;
}

.a2 {
  padding-right: 50px;
}
.a2 h1 {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.a2 p {
  font-size: 20px;
}
.a2 button {
  background-color: hsl(322, 100%, 66%);
  padding: 15px 50px;
  border-radius: 25px;
  border: none;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
.a3 {
  padding-left: 25px;
}

main {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.image {
  width: 50%;
}
.b2 {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 1px rgba(160, 159, 159, 0.3);
}
.b h1,
p {
  color: hsl(192, 100%, 9%);
  padding-top: 10px;
}
.b2 div {
  padding: 20px 40px;
  width: 50%;
}
.c {
  background-color: white;
  box-shadow: 0 0 2px 1px rgb(241, 238, 238);
  margin: 50px auto -50px auto;
  text-align: center;
  padding: 50px 150px;
  border-radius: 5px;
}
.c h1 {
  color: hsl(192, 100%, 9%);
}
.c button {
  margin-top: 20px;
  padding: 25px 90px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  box-shadow: 0 0 3px rgb(117, 116, 116);
  border: none;
  cursor: pointer;
  animation-name: myanime;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.a2 button:focus,
.c button:focus {
  opacity: 0.5;
}
footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  width: 100%;
  z-index: -1;
}
footer #img1 {
  width: 20%;
  margin-top: 20px;
}
footer p {
  color: rgb(255, 255, 255);
  display: inline;
  padding: 0;
  margin-bottom: 15px;
}
footer a {
  text-decoration: none;
  color: white;
}
ul {
  margin-right: 50px;
}
li {
  list-style: none;
  padding-top: 10px;
}
.d2 {
  display: grid;
  grid-template-columns: 10px 300px;
}
.d2 p {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}
.d1 {
  display: flex;
  justify-content: space-between;
}
.d {
  padding: 50px 50px 30px 50px;
}
i {
  padding: 10px 13px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 4px;
  font-size: 1em;
}
span {
  display: block;
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
}
@keyframes myanime {
  50% {
    background-color: white;
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    margin-bottom: 10px;
  }
  100% {
    background-color: hsl(322, 100%, 66%);
    color: white;
    margin-bottom: 20px;
  }
}
@keyframes myanime2 {
  50% {
    background-color: white;
    color: hsl(322, 100%, 66%);
  }
  100% {
    background-color: hsl(322, 100%, 66%);
    color: white;
  }
}
@media screen and (max-width: 375px) {
  .a {
    background-image: url("icons/bg-hero-mobile.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    display: block;
    text-align: center;
  }
  .a1 img {
    width: 30%;
  }
  .a1 button {
    padding: 5px 15px;
    font-size: 12px;
  }
  .a2 h1 {
    font-size: 1.5em;
    padding: 10px;
    margin-top: 50px;
  }
  .a2 p {
    font-size: 1em;
  }
  .a2 button {
    padding: 10px 15px;
    margin-bottom: 20px;
  }
  .a3 {
    padding-left: 0;
  }
  .b2 {
    flex-direction: column;
    padding: 5px;
  }
  .b2 div {
    width: 100%;
  }
  .b2 h1 {
    font-size: 1.2em;
    text-align: center;
  }
  .b2 p {
    font-size: 1em;
    text-align: center;
  }
  .c {
    padding: 10px 30px;
    margin-bottom: -20px;
  }
  .c h1 {
    font-size: 1em;
  }
  .c button {
    padding: 10px;
    font-size: 0.8em;
    margin-top: 10px;
    animation-name: myanime2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .d1 {
    display: flex;
    flex-direction: column;
  }
  .d {
    padding: 10px;
  }
  #icons {
    margin: auto;
  }
  i {
    font-size: 10px;
    padding: 8px;
  }
  span {
    font-size: 0.5em;
    padding-bottom: 5px;
  }
  footer p,
  footer a {
    font-size: 0.8em;
  }
}
